# Ignore node_modules in the HeartRateLimits subfolder
WeatherApp/node_modules/

# Ignore Expo files in the HeartRateLimits subfolder
WeatherApp/.expo/
WeatherApp/.expo-shared/

# Logs
WeatherApp/logs/
WeatherApp/*.log
WeatherApp/npm-debug.log*
WeatherApp/expo-debug.log*

# Yarn Integrity file
WeatherApp/.yarn-integrity

# Optional npm cache directory
WeatherApp/.npm/

# Optional dotenv environment variable file
WeatherApp/.env

# MacOS files
WeatherApp/.DS_Store

# Android & iOS build artifacts
WeatherApp/*.apk
WeatherApp/*.apkg
WeatherApp/*.aar
WeatherApp/*.ipa
WeatherApp/.DS_Store

# Build directory
WeatherApp/build/